@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* General Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Background Containers */
.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
}

.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height: 80vh;
    width: 100%;
    background-size: cover;
    padding: 24px;
}

.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 80vh;
    width: 100%;
    background-size: cover;
    padding: 24px;
}

/* Card Styles */
.tourism-card {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    width: 300px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

.detailed-view-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    width: 80%;
}

/* Button Styling */
.button {
    color: white;
    background-color: #25b1cc;
    width: 140px;
    height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-size: 16px;
}

.btn-dark {
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px 16px;
}
